{% extends 'Index.html' %}

{% block content %}
<div class="container">
    <h1>Порядок сырья в Ингредиентах</h1>
    <table class="table table-striped">
        <tr>
            <th>Наименование</th>
            <th></th>
            <th></th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.Pk }}</td>
            <td>{{ item.product.labName }}</td>
            <td>{{ item.inname.inNameEu }}</td>
            <td>{{ item.order }}</td>
            <td>{{ item.whyAdded }}</td>
            <td>{{ item.listFunctions }}</td>
            <td><a href="/Productinciorders/Update/?product_id={{ item.product.Pk }}&inname_id={{ item.inname.Pk }}" class="btn btn-warning">Редактировать</a></td>
            <td><a href="/Productinciorders/Delete/?id={{ item.Pk }}" class="btn btn-danger">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="/Manufacturers/Create" class="btn btn-info">Добавить производителя сырья</a>
</div>
{% endblock %}