{% extends 'Index.html' %}

{% block content %}
<div class="container">
    <h1 style="margin-bottom: 20px">Редактирование названия продукции</h1>
    <form class="container" method="post" action="/Products/Updatesave">
        <input type="hidden" name="product[id]" value="{{ item.Pk }}">
        <div class="row">
            <div class="col-xs-4">Рабочее название</div>
            <div class="col-xs-8"><input type="text" name="product[labName]" value="{{ item.labName }}" size =80></div>
        </div>

        <div class="row">
            <div class="col-xs-4">Официальное русское название</div>
            <div class="col-xs-8"><input type="text" name="product[rusName]" value="{{ item.rusName }}" size =80></div>
        </div>

        <div class="row">
            <div class="col-xs-4">Официальное английское название</div>
            <div class="col-xs-8"><input type="text" name="product[engName]" value="{{ item.engName }}" size =80></div>
        </div>

        <div class="row">
            <div class="col-xs-4">Дата рецептуры</div>
            <div class="col-xs-8"><input type="date" name="product[dateSigned]" value="{{ item.dateSigned }}"></div>
        </div>
        <div class="row">
            <div class="col-xs-4">Включить ручное упорядочивание, 0-автоматическое 1-ручное</div>
            <div class="col-xs-8"><input type="number" name="product[manualOrderingOn]" value="{{ item.manualOrderingOn }}"></div>
        </div>

        <div class="row">
            <div class="col-xs-4">Включить ручное упорядочивание inci в заднике, 0-автоматическое 1-ручное</div>
            <div class="col-xs-8"><input type="number" name="product[manualProductinciorder]" value="{{ item.manualProductinciorder }}"></div>
        </div>


        <div class="row">
            <div class="col-xs-4">Позиция в каталоге в серии {{ item.seria.title }}</div>
            <div class="col-xs-8"><input type="number" name="product[ordering]" value="{{ item.ordering }}"></div>
        </div>

        <div class="row">
            <div class="col-xs-4">Позиция в самой первой таблице</div>
            <div class="col-xs-8"><input type="number" name="product[orderingTable]" value="{{ item.orderingTable }}"></div>
        </div>


        <div class="row">
            <div class="col-xs-4">Бантики</div>
            <div class="col-xs-8"><input type="text" name="product[bantiki]" value="{{ item.bantiki }}"></div>
        </div>

        <div class="row">
            <div class="col-xs-4">Большой Description</div>
            <div class="col-xs-8">
                <textarea name="product[description]" value="{{ item.description }}" rows="20" cols="100">

                </textarea>
            </div>
        </div>


        <input type="submit" class="btn btn-info">
    </form>
</div>
{% endblock %}