{% extends 'Index.html' %}

{% block content %}
<div class="container">
    <h1 style="margin-bottom: 20px">Редактирование названия продукции</h1>
    <form class="container" method="post" action="/Products/Updatesave">
        <input type="hidden" name="product[id]" value="{{ item.Pk }}">
        <div class="row">
            <div class="col-xs-4">Рабочее название</div>
            <div class="col-xs-8"><input type="text" name="product[labName]" value="{{ item.labName }}"></div>
        </div>

        <div class="row">
            <div class="col-xs-4">Официальное русское название</div>
            <div class="col-xs-8"><input type="text" name="product[rusName]" value="{{ item.rusName }}"></div>
        </div>

        <div class="row">
            <div class="col-xs-4">Официальное английское название</div>
            <div class="col-xs-8"><input type="text" name="product[engName]" value="{{ item.engName }}"></div>
        </div>

        <div class="row">
            <div class="col-xs-4">Дата рецептуры</div>
            <div class="col-xs-8"><input type="date" name="product[dateSigned]" value="{{ item.dateSigned }}"></div>
        </div>
        <input type="submit" class="btn btn-info">
    </form>
</div>
{% endblock %}