{% extends 'Index.html' %}

{% block content %}
<h1>Линия {{ item.title }}</h1>



<table class="table table-striped" style="margin-top:20px">
    <tr>
        <th>Продукт</th>
        <th></th>
        <th>US</th>
        <th>EU</th>

    </tr>
    {% for product in item.products %}
    <tr>
        <td>{{ product.labName }}</td>
        <td>
            <a href="/Products/One/?id={{ product.Pk }}" class="btn btn-success">Редактировать цеховую рецептуру</a>
            <a href="/Tedlists/EuOneBack/?id={{ product.Pk }}" class="btn btn-default">Смотреть основу для европейского задника</a>
            <a href="/Eu/One/?id={{ product.Pk }}" class="btn btn-info">Смотреть рецептуру по типу как Алла Селина делала 49+</a>
            <a href="/Eu/OnePrint/?id={{ product.Pk }}" class="btn btn-info">Смотреть печатную версию рецептуры по типу как Алла Селина делала 49+</a>
        </td>
        <td><t4:block path="//Backlists/UsOne" id="{{ product.Pk }}"/></td>
        <td><t4:block path="//Tedlists/EuOneBack" id="{{ product.Pk }}"/></td>
    </tr>

    {% endfor %}
</table>



{% endblock %}