{% extends 'Index.html' %}

{% block content %}
<div class="container">
    <h1 style="margin-bottom: 20px">Добавить ингредиент в рецептуру: {{ product.labName }}</h1>

    <form class="container" method="post" action="/Rawpercents/Addsave">

        <input type="hidden" name="rawpercent[__product_id]" value="{{ product.Pk }}">
        <div class="row">
            <div class="col-xs-8">Сырье</div>
            <div class="col-xs-4">%</div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                {% for raw in raws %}
                <input type="radio" name="rawpercent[__raw_id]" value="{{ raw.Pk }}"> {{ raw.title }} <br>
                {% endfor %}
            </div>
            <div class="col-xs-4">
        </div>
        <input type="text" name="rawpercent[percent]">
        <input type="hidden" name="rawpercent[decomposition]" value="0">
        </div>


<input type="submit" class="btn btn-info">
    </form>

</div>
{% endblock %}