{% extends 'Index.html' %}

{% block content %}
<h1>Паспорта продукции</h1>
<a href="/Passports/Rus" class="btn btn-default">Русский</a>
<a href="/Passports/RusSelected" class="btn btn-default">Русский с подчеркиванием</a>
<a href="/Passports/Eng" class="btn btn-info">Английский</a>
<a href="/Passports/EngSelected" class="btn btn-info">Английский с подчеркиванием</a>
<br>
<a href="/Passports/RusTable" class="btn btn-default">Русский по типу первой таблицы</a>
<a href="/Passports/EngTable" class="btn btn-info">Английский по типу первой таблицы</a>
{% endblock %}