{% extends 'Index.html' %}

{% block content %}
<div class="container">

    <h1 style="margin-bottom: 20px">Редактирование дистрибьютора</h1>
    <form class="container" method="post" action="/Distributors/Updatesave">
        <input type="hidden" name="distributor[id]" value="{{ item.Pk }}">
        <div class="row">
            <div class="col-xs-4">Наименование дистрибьютора</div>
            <div class="col-xs-8"><input type="text" name="distributor[title]" value="{{ item.title }}">

            </div>
        </div>

        <input type="submit" class="btn btn-info">
    </form>

</div>
{% endblock %}