{% extends 'Index.html' %}

{% block content %}
<div class="container">
    <h1 style="margin-bottom: 20px">Добавление нового названия сырья</h1>
    <form class="container" method="post" action="/Raws/Save">
        <div class="row">
            <div class="col-xs-4">Рабочее название</div>
            <div class="col-xs-8"><input type="text" name="raw[title]">
                <input type="hidden" name="raw[__ingroup_id]" value="2">
            </div>
        </div>



        <input type="submit" class="btn btn-info">
    </form>
</div>
{% endblock %}