{% extends 'Index.html' %}

{% block content %}
<div class="container">
    <h1 style="margin-bottom: 20px">Добавление нового основного синонима сырья</h1>
    <form class="container" method="post" action="/Ingroups/Save">
        <div class="row">
            <div class="col-xs-6">Название как мы обычно называем</div>
            <div class="col-xs-6"><input type="text" name="ingroup[title]"></div>
        </div>
        <div class="row">
            <div class="col-xs-6">Название как для русских деклараций</div>
            <div class="col-xs-6"><input type="text" name="ingroup[ruName]"></div>
        </div>


        <input type="submit" class="btn btn-info">
    </form>
</div>
{% endblock %}