{% extends 'Index.html' %}

{% block content %}
<div class="container">
    <h1 style="margin-bottom: 20px">Основные синонимы названий сырья</h1>
    <a href="/Ingroups/Create" class="btn btn-info">Добавить основной синоним сырья</a>
    <table class="table table-striped" style="margin-top:20px">
        <tr>
            <th>Основной синоним</th>
            <th>Прочие цеховые и лабораторные синонимы</th>
            <th>По-русски для декларации</th>
            <th>INCI EU</th>
            <th>INCI US</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.title }}</td>
            <td>
                <t4:block path="//Ingroups/RawULister/(id={{ item.Pk }})">
            </td>
            <td>{{ item.ruName }}</td>
            <td>{{ item.eu }}</td>
            <td>{{ item.us }}</td>

            <td><a href="/ingroups/One/?id={{ item.Pk }}" class="btn btn-default">Редактировать список INCI</a></td>
            <td><a href="/Ingroups/Update/?id={{ item.Pk }}" class="btn btn-default">Редактировать</a></td>
            <td><a href="/Ingroups/Delete/?id={{ item.Pk }}" class="btn btn-danger">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="//Ingroups/Create" class="btn btn-info">Добавить основной синоним сырья</a>
</div>
{% endblock %}