{% extends 'Index.html' %}

{% block content %}
<div class="container">
    <h1 style="margin-bottom: 20px">Изменение основного русского названия сырья</h1>
    <form class="container" method="post" action="/Ingroups/Updatesave">
        <input type="hidden" name="ingroup[id]" value="{{ item.Pk }}">
        <div class="row">
            <div class="col-xs-6">Название как мы обычно называем</div>
            <div class="col-xs-6"><input type="text" name="ingroup[title]" value="{{ item.title }}"  size="80"></div>

        </div>

        <div class="row">
            <div class="col-xs-6">Common name or Trade name</div>
            <div class="col-xs-6"><input type="text" name="ingroup[officialName]" value="{{ item.officialName }}" size="80"></div>

        </div>

        <div class="row">
            <div class="col-xs-6">Document name</div>
            <div class="col-xs-6"><input type="text" name="ingroup[documentName]" value="{{ item.documentName }}" size="80"></div>

        </div>

        <div class="row">
            <div class="col-xs-6"><span style="color: forestgreen">Billing name</span></div>
            <div class="col-xs-6">
                <span style="color: forestgreen">
                    <input type="text" name="ingroup[billingName]" value="{{ item.billingName }}" size="80">
                </span>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-6">Название как для русских деклараций</div>
            <div class="col-xs-6"><input type="text" name="ingroup[ruName]" value="{{ item.ruName }}"></div>
        </div>

        <div class="row">
            <div class="col-xs-6">Приоритет, число от 1 до 10, 1 - самый интересный компонент, 5 средний, 10 что хотим спрятать ниже </div>
            <div class="col-xs-6"><input type="text" name="ingroup[priority]" value="{{ item.priority }}"></div>
        </div>

        <div class="row">
            <div class="col-xs-6">Писать 1 если хотим выдавать точный а не интервальный процент. Если нужен интервал, ставить 0.</div>
            <div class="col-xs-6"><input type="text" name="ingroup[exactValue]" value="{{ item.exactValue }}"></div>
        </div>

        <div class="row">
            <div class="col-xs-6">Писать 1 если это активный компонент.</div>
            <div class="col-xs-6"><input type="text" name="ingroup[isActive]" value="{{ item.isActive }}"></div>
        </div>
        <input type="submit" class="btn btn-info">
    </form>
</div>
{% endblock %}