<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Anna's Mega Ingregients Generator v.1.00</title>
  {{ publishCss() }}
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">
        Raw&INCI
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
       <li><a href="/Products/">Продукция</a></li>
       <li><a href="/Raws/">Сырье</a></li>
       <li><a href="/Ingroups/">Смеси INCI</a></li>
       <li><a href="/Innames/">Чистые INCI</a></li>
       <li><a href="/Backlists/">Задники</a></li>
       <li><a href="/Ingredients/">Списки ингредиентов</a></li>
       <li><a href="/Serias/">Серии</a></li>
       <li><a href="/Passports/">Паспорта</a></li>
       <li><a href="/Tedmire/">tedmire</a></li>
       <li><a href="/Cosfunctions/">Функции чистых INCI</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
    <div class="page-header">
        <h4 style="text-align: center; border: 1px solid darkgreen; background-color: lightgrey">
            ООО "Лаборатория коссметики "Аркадия"<br>
            Адрес:  196084, г. Санкт-Петербург, ул. Коли Томчака, д. 25, лит. Б, тел/факс: 449-04-35,
            ИНН 7810203361, ОГРН 1037821033634,
            р/с 40702810411000002762 в ФИЛИАЛЕ ОПЕРУ ОАО БАНК ВТБ В САНКТ-ПЕТЕРБУРГЕ Г. САНКТ-ПЕТЕРБУРГ
            к/с 30101810200000000704, БИК 044030704
        </h4>
    </div>

{% block content %}{% endblock %}
</div>
{{ publishJs() }}
</body>
</html>