<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Anna's Mega Ingregients Generator v.1.00</title>
  {{ publishCss() }}
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">
        Raw&INCI
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
       <li><a href="/Products/">Продукция</a></li>
       <li><a href="/Raws/">Сырье</a></li>
       <li><a href="/Ingroups/">Смеси INCI</a></li>
       <li><a href="/Innames/">Чистые INCI</a></li>
       <li><a href="/Backlists/">Задники</a></li>
       <li><a href="/Ingredients/">Списки ингредиентов</a></li>
       <li><a href="/Serias/">Серии</a></li>
       <li><a href="/Passports/">Паспорта</a></li>
      </ul>
    </div>
  </div>
</nav>

{% block content %}{% endblock %}

{{ publishJs() }}
</body>
</html>