{% extends 'Index.html' %}

{% block content %}
<div class="container">
    <h1>Ingredients for European Notification</h1>
    {% for item in items %}
        <h2>Product: {{ item.engName }}</h2>
        <table class="table table-striped">
            {% for rawpercent in item.rawpercents %}
            <tr>
                <td>{{ rawpercent.title }}</td>
                <td>{{ rawpercent.interval}}</td>
            </tr>
            {% endfor %}
        </table>
    {% endfor %}

</div>
{% endblock %}