{% extends 'Arkadia.html' %}

{% block content %}
<h3 style="text-align: center">FORMULATION</h3>
<h3 style="text-align: left">Product Name: {{ item.engName }}</h3>

<table class="table table-bordered">
   <tr>
       <th>№</th>
       <th>Components<br>(Common name or <br> Trade name)</th>
       <th>INCI Name</th>
       <th>CAS</th>
       <th>EC</th>
       <th>%</th>
       <th>Function</th>
       <th>Function ВАРИАНТЫ</th>
   </tr>

    {% for rawpercent in item.rawpercents %}

           <tr>
               <td rowspan="{{ rawpercent.raw.ingroup.inpercents.count }}">{{ loop.index }}</td>
               <td rowspan="{{ rawpercent.raw.ingroup.inpercents.count }}">
                   {{ rawpercent.raw.ingroup.officialName | raw }}
                   <br>
                   <span style="color: lightseagreen">{{ rawpercent.raw.ingroup.title }}</span>
               </td>

               {% set line = 0 %}

               {% for inpercent in rawpercent.raw.ingroup.inpercents %}

                    {% set line=line+1 %}



                    {% if line > 1 %}
                        <tr>
                    {% endif %}

                       <td>{{ inpercent.inname.inNameEu | upper}}

                       {% if inpercent.percentageComment %}
                           ({{ inpercent.percentageComment }})
                       {% endif %}

                       </td>
                       <td>{{ inpercent.inname.casNumber }}</td>
                       <td>{{ inpercent.inname.ecNumber }}</td>

                    {% if line == 1 %}

                        <td style="min-width: 100px" rowspan="{{ rawpercent.raw.ingroup.inpercents.count }}">{{ rawpercent.intervalpercent.interval | raw }}</td>
                        <td rowspan="{{ rawpercent.raw.ingroup.inpercents.count }}">{{ rawpercent.whyAdded }}</td>
                        <td rowspan="{{ rawpercent.raw.ingroup.inpercents.count }}">{{ rawpercent.listFunctions }}</td>

                    {% endif %}


                    {% if line > 1 %}
                        </tr>
                    {% endif %}

               {% endfor %}


            </tr>

    {% endfor %}

</table>

<!--
<t4:block path="//Eu/OneInci">
-->
{% endblock %}