{% extends 'Index.html' %}

{% block content %}

<h1 style="margin-bottom: 20px">Содержание по INCI в продукции<br>
{{ item.labName }} = {{ item.rusName }} = {{ item.engName }}
</h1>

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>INCI</th>
        <th>real percentage</th>

        <th>Позиция в списке</th>
        <th></th>
    </tr>
        {% set nom = 1 %}
        {% for prelister in item.prelisters %}
    <tr>
        <td>{{ nom }}{% set nom = nom + 1 %}</td>
        <td>{{ prelister.inname }}</td>
        <td>{{ prelister.inperc }}</td>
        <td>{{ prelister.inorder }}</td>

        <td><a href="/Productinciorders/Update?inci_id={{ prelister.inciid }}&product_id={{ item.Pk }}" class="btn btn-info">Исправить позицию в списке</a></td>

    </tr>
    {% endfor %}

</table>

<hr>

<h3>{{ item.rusName }}</h3>
<h3>Ingredients: {{ slist | upper }}.</h3>

{% endblock %}